<div id="login-v2" layout="row" layout-align="start">
    <div id="login-v2-intro" flex hide show-gt-sm>
        <div class="logo">
            <span><img src="/assets/images/logos/tree_small.png" /></span>
        </div>
        <div class="title" translate="LOGIN_V2.INTRO_TITLE">
            Come Together...!
        </div>
        <div class="description" translate="LOGIN_V2.INTRO_DESCRIPTION">
            Hier kommen wir alle zusammen und können unsere Gemeinsamkeiten teilen. Ach immer diese Kommunikationsprobleme. Jezt haben sie ein Ende.
        </div>
    </div>

    <div id="login-v2-form-wrapper" class="flex-scrollable md-whiteframe-8dp" ms-scroll>
        <login-form></login-form>
    </div>
</div>
