<md-dialog class="event-form-dialog" aria-label="New Message">
    <form name="eventForm" class="md-inline-form" novalidate>
        <md-toolbar class="md-accent md-hue-2" ng-style="{'background-color': vm.calendarEvent.location.color || ''}">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">

                <span class="title"><span class="icon"><i class="icon {{ vm.calendarEvent.type.icon}}"></i></span> {{vm.dialogTitle}}</span>
                <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close dialog" translate
                           translate-attr-aria-label="CALENDAR.CLOSE_DIALOG">
                    <md-icon md-font-icon="icon-close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content ms-scroll>
            <md-input-container class="md-block">
                <label translate="CALENDAR.TITLE">Title</label>
                <input name="title" ng-model="vm.calendarEvent.title" required md-autofocus>
                <div ng-messages="eventForm.title.$error" ng-show="eventForm.title.$touched" role="alert">
                    <div ng-message="required">
                        <span translate="CALENDAR.ERRORS.TITLE_REQUIRED">Title field is required</span>
                    </div>
                </div>
            </md-input-container>
            <div layout="row" layout-align="space-between center">
            <div class="public">
                <div layout="row" layout-align="center center"  >
                    <p translate="CALENDAR.PUBLIC" style="margin-right:1em">Public</p>
                    <md-switch class="md-secondary" ng-true-value="1" ng-false-value="0" ng-model="vm.calendarEvent.public" aria-label="Public" translate
                               translate-attr-aria-label="CALENDAR.PUBLIC"></md-switch>
                </div>
            </div>
            <div class="all-day">
                <div layout="row" layout-align="center center"  >
                    <p translate="CALENDAR.ALL_DAY" style="margin-right:1em">All Day</p>
                    <md-switch class="md-secondary"  ng-true-value="1" ng-false-value="0"  ng-model="vm.calendarEvent.allDay" aria-label="All day" translate
                               translate-attr-aria-label="CALENDAR.ALL_DAY"></md-switch>
                </div>
            </div>
          </div>
            <div layout="row" class="date-row" layout-align="center center" >
                <!-- <md-datepicker ng-model="vm.calendarEvent.start" md-placeholder="Start Date"></md-datepicker> -->
                <mdp-date-picker mdp-placeholder="Anfang" required ng-model="vm.calendarEvent.start"></mdp-date-picker>
                <!-- <md-input-container class="no-errors-spacer" flex md-no-float>
                    <input ng-model="vm.calendarEvent.start" placeholder="Start Time" translate
                           translate-attr-placeholder="CALENDAR.START_TIME" md-time-picker>
                </md-input-container> -->
                  <mdp-time-picker  ng-if="!vm.calendarEvent.allDay"  required ng-model="vm.calendarEvent.start"></mdp-time-picker>
            </div>

            <div layout="row" class="date-row"    layout-align="center center">

              <mdp-date-picker mdp-placeholder="Ende" required ng-model="vm.calendarEvent.end"></mdp-date-picker>

                <mdp-time-picker ng-model="vm.calendarEvent.end" required ng-if="!vm.calendarEvent.allDay"></mdp-time-picker>
                <!-- <md-datepicker ng-model="vm.calendarEvent.end" md-placeholder="End Date"></md-datepicker>

                <md-input-container class="no-errors-spacer" flex md-no-float>
                    <input ng-model="vm.calendarEvent.end" placeholder="End Time" translate
                           translate-attr-placeholder="CALENDAR.END_TIME">
                </md-input-container> -->
            </div>

            <!-- <md-input-container class="md-block" flex>
                <label translate="CALENDAR.REPEAT">Repeat</label>
                <input ng-model="vm.calendarEvent.repeat">
            </md-input-container> -->

            <div layout="row">
              <md-input-container flex="70">
                  <label translate="CALENDAR.LOCATION">Location</label>
                  <md-select ng-change="vm.setLocation()" ng-model="vm.calendarEvent.location_id" required>
                    <md-option ng-value="location.id" ng-repeat="location in vm.locations">
                      {{ location.display_name }}
                    </md-option>
                  </md-select>
              </md-input-container>
            <md-input-container flex >
                <label translate="CALENDAR.TYPE">Art</label>
                <md-select ng-change="vm.setType()" ng-model="vm.calendarEvent.type_id" required>
                  <md-option ng-value="type.id" ng-repeat="type in vm.eventTypes">
                    {{ type.name }}
                  </md-option>
                </md-select>
            </md-input-container>

          </div>

            <!-- <div class="notifications" layout="column">
                <div class="title" translate="CALENDAR.NOTIFICATIONS">Notifications</div>

                <md-select ng-model="notification" placeholder="Notification"
                           ng-repeat="notification in vm.calendarEvent.notifications">
                    <md-option ng-repeat="opt in vm.notifications" value="{{opt}}">{{opt}}</md-option>
                </md-select>

                <md-button aria-label="+ Add Another Notification" translate="CALENDAR.ADD_NOTIFICATION"
                           translate-attr-aria-label="CALENDAR.ADD_NOTIFICATION">
                    + Add Another Notification
                </md-button>
            </div> -->

            <md-input-container flex class="md-block textarea-container">
                <label translate="CALENDAR.NOTES">Notes</label>
                <textarea ng-model="vm.calendarEvent.description" md-maxlength="400" max-rows="6"></textarea>
            </md-input-container>
        </md-dialog-content>

        <md-dialog-actions layout="row" layout-align="space-between center">
            <md-button ng-click="vm.saveEvent()" class="save-button md-accent md-raised" aria-label="SAVE"
                       ng-disabled="eventForm.$invalid || eventForm.$pristine"
                       translate="CALENDAR.SAVE"
                       translate-attr-aria-label="CALENDAR.SAVE">
                SAVE
            </md-button>

            <md-button class="md-icon-button" ng-click="vm.removeEvent()" aria-label="Delete" translate translate-attr-aria-label="CALENDAR.DELETE">
                <md-icon md-font-icon="icon-delete"></md-icon>
                <md-tooltip><span translate="CALENDAR.DELETE">Delete</span></md-tooltip>
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
